<label class="label">Delivery Date</label>
<div class="control">
    <input class="input-text" type="text" data-bind="datetimepicker: true"  name="delivery_date" id="delivery_date" readonly="true"/>
</div>
<label class="label">Authority to leave if no one is at the address?</label>
<div class="control">
    <input type="radio" name="authority_to" id="authority_to_yes">
    <label>Yes</label>
    <input type="radio" name="authority_to" id="authority_to_no">
    <label>No</label>
</div>
<label class="label">Comment</label>
<div class="control">
    <textarea name="delivery_comment" id="delivery_comment"></textarea>
</div>
<br/>