<div class="field _required">
	<label class="label"> </label>
	<div class="control">
		<div class="caddie-address-type form-group ">
			<button tabindex="-1" type="button" class="caddie-popover btn btn-xs btn-action" data-bind="attr:{title: 'Mandatory - please select whether this is for a home or business delivery address'}">
				<i class="fa fa-info-circle"></i>
			</button>

			<label class="radio-inline">
				<input type="radio" name="package_address_type" value="home" data-bind="click: changeAddressType.bind(this, 'home')" style="display: none"><span class="lbl padding-6"> Home</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="package_address_type" value="business" data-bind="click: changeAddressType.bind(this, 'business')" style="display: none"><span class="lbl padding-6"> Business</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="package_address_type" value="hospital" data-bind="click: changeAddressType.bind(this, 'hospital')" style="display: none"><span class="lbl padding-6"> Hospital</span>
			</label>
		</div>
	</div>
</div>