<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <phpmechanic_deliverydate>
            <general>
                <format>dd-mm-yy</format>
                <disabled>0,6</disabled>
                <additional></additional>
            </general>
        </phpmechanic_deliverydate>
    </default>
</config>