<!--@subject SnowGoose Order @-->

<html>
<head></head>
<body>
<meta charset="utf-8">
<style>

    #invoice h1,
    #invoice h2,
    #invoice h3,
    #invoice h4,
    #invoice h5,
    #invoice h6{
        color: black;
        font-family: 'Open Sans', Arial, sans-serif;
        margin:0 0 12px 0;
        padding:0;
    }
    #invoice h2{
        font-size: 18px;
    }
    #invoice td{
        color: black;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-align: left;
    }
    #invoice td.caddie-invoice-price{
        text-align:right;
    }
    #invoice .footer td{
        font-size: 11px;

    }

</style>


<table id="invoice" style="width:620px;" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td style="padding:40px;">



            <table style="margin-bottom: 40px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td rowspan="2"><img alt="SnowGoose" src="https://www.snowgoose.com.au/site/assets/theme/img/logo_invoice.png"></td>
                    <td><p><strong>Date</strong></p></td>
                    <td><p><strong>Your Receipt No.</strong>
                    </p></td><td><p><strong>Billed To</strong>
                </p></td></tr>
                <tr>
                    <td style="vertical-align: top" valign="top">6 Jul 2018 @ 16:16</td>
                    <td style="vertical-align: top" valign="top">
                        Order ID: 39986                    </td>
                    <td style="vertical-align: top" valign="top">
                        <br>Mobile: <br>Phone:         </td>
                </tr>
                </tbody></table>

            <!-- payment details for admin -->



            <h2>
                Red Cherries    </h2>

            <table style="margin-bottom: 40px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td style="padding:20px; background: white">



                        <table width="100%" cellspacing="0" cellpadding="0" border="0">

                            <tbody><tr>
                                <td style="width:160px;padding-bottom:20px;padding-right: 20px"><img style="width: 120px" src="https://www.snowgoose.com.au/site/assets/media/images/product-images-2017/preview-2017/Red-Cherries-Front-preview.png" width="120"></td>
                                <td>
                                    Large
                                    <br><br><em>MEssage</em>

                                </td>
                                <td class="caddie-invoice-price" style="padding-left: 10px;">1&nbsp;x&nbsp;$149.00</td>
                            </tr>


                            <tr>
                                <td colspan="3">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                            <td style="width: 180px;font-weight:bold">Delivery Date</td>
                                            <td>
                                                10 Jul 2018                                                    </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Recipient</td>
                                            <td>First Name Surname</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold" valign="top">Address</td>
                                            <td>
                                                46 Old Pittwater Road<br>Brookvale NSW 2100                        </td>
                                        </tr>


                                        <tr>
                                            <td style="font-weight:bold; vertical-align: top" valign="top">
                                                Delivery Instructions
                                            </td>
                                            <td>
                                                Special delivery                            </td>
                                        </tr>

                                        </tbody></table>

                                </td>
                            </tr>
                            </tbody></table>

                    </td>
                </tr>
                </tbody></table>


            <h2>
                Savoury Indulgence    </h2>

            <table style="margin-bottom: 40px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td style="padding:20px; background: white">



                        <table width="100%" cellspacing="0" cellpadding="0" border="0">

                            <tbody><tr>
                                <td style="width:160px;padding-bottom:20px;padding-right: 20px"><img style="width: 120px" src="https://www.snowgoose.com.au/site/assets/media/images/product-images-2017/preview-2017/Savoury-IndulgenceFront.png" width="120"></td>
                                <td>
                                    Large
                                    <br><br><em>Message 2</em>

                                </td>
                                <td class="caddie-invoice-price" style="padding-left: 10px;">1&nbsp;x&nbsp;$189.00</td>
                            </tr>


                            <tr>
                                <td colspan="3">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                            <td style="width: 180px;font-weight:bold">Delivery Date</td>
                                            <td>
                                                10 Jul 2018                                                    </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Recipient</td>
                                            <td>First name 2 Last name 2</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold" valign="top">Address</td>
                                            <td>
                                                49 Herbert Street<br>Artarmon NSW 2064                        </td>
                                        </tr>


                                        <tr>
                                            <td style="font-weight:bold; vertical-align: top" valign="top">
                                                Delivery Instructions
                                            </td>
                                            <td>
                                                Special instruction                            </td>
                                        </tr>

                                        </tbody></table>

                                </td>
                            </tr>
                            </tbody></table>

                    </td>
                </tr>
                </tbody></table>


            <table style="margin-bottom: 40px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td>SHIPPING</td>
                    <td class="caddie-invoice-price">$32.00</td>
                </tr>

                <tr>
                    <td>TAX</td>
                    <td class="caddie-invoice-price">$1.04</td>
                </tr>
                <tr>
                    <td><strong>TOTAL</strong></td>
                    <td class="caddie-invoice-price"><strong>$370.00</strong></td>
                </tr>
                </tbody></table>

            <table class="footer" width="100%" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>
                        <h2>Fresh Venture Group Pty Ltd</h2>
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td style="vertical-align: top" width="50%" valign="top">
                                    <p>
                                        <span style="font-size:11px;">Trading as</span><br>
                                        <span style="font-size:16px; font-weight: bold;">Snowgoose</span><br>
                                        Suite 220, 79 Longueville Rd<br>
                                        Lane Cove NSW 2066
                                    </p>
                                </td>
                                <td style="vertical-align: top" valign="top">

                                    <p>
                                        Phone: 1800 803 570<br>
                                        Fax: 02 9764 2727<br>
                                        Email: <a href="mailto:snowgoose@snowgoose.com.au">snowgoose@snowgoose.com.au</a><br>
                                        Web: <a href="http://www.snowgoose.com.au">www.snowgoose.com.au</a>
                                    </p>
                                    ABN: 62 131354 919

                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>

        </td>
    </tr>
    </tbody></table>
</body>
</html>
