<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aidalab_DeliveryDateOverride" setup_version="1.0.0">
        <sequence>
            <module name="PHPMechanic_DeliveryDate"/>
            <module name="Blackbird_EstimateTimeShipping"/>
        </sequence>
    </module>
</config>
